
@import "~bulma/bulma.sass"

// Customized properties

// body
	// height: 100%

.has-more-padding
	padding-left: 200px
	padding-right: 200px

.techSection
	background-color: $black

.outreachSection
	background-color: $green

.dataArea
	// height: 2000px
	overflow: hidden

.rsoImage
	max-height: 100px
	display: inline-block
	float: right

.rsoTiles
	flex-wrap: wrap
	justify-content: center

	// Child tiles
	.tile
		margin: 10px

.fuck
	display: block
